a {
    text-decoration: none;
}
#header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f5f1ed;
    color: black;
    padding: 10px;
}
#logo-container {
    display: flex;
    justify-content: center;
}
#logo-img {
    width: 80%;
    border-radius: 70px;
}
#navigation {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#navigation a {
    font-size: 2em;
    color: black;
}
#navigation a:hover {
    color: white;
    background-color: #70798c;
}
main {
    font-family: 'Times New Roman', Times, serif;
}
.intro {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.intro-img {
    width: 100%;
    border-radius: 20px;
}
.intro section h1 {
    font-size: 3em;
}
.intro section {
    padding: 50px;
}
.intro-button-box {
    text-align: center;
}
.intro-button {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid #dad2bc;
    font-family: Arial, Helvetica, sans-serif;
}
.intro-button a:link, a:visited {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
a.intro-button:hover {
    color: black;
    background-color: #dad2bc;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f1ed;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
#copyright {
    list-style-type: none;
    padding: 0;
}
#copyright li {
    display: inline-block;
}
#copyright li a {
    display: block;
    color: black;
}
#copyright li a:hover {
    color: white;
    background-color: #70798c;
}
#contact {
    display: flex;
    justify-content: right;
    align-items: center;
}
.contact-img {
    width: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
}
/* * {
    border: 0.5px solid red;
} */